@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-size: 16px;
  --text-h: #f3f4f6;
  --text-light: #5e5e5e;
  --light-green: #01be5e;
  font-family: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  min-width: 20rem;
  min-height: 100vh;
  padding-left: 4rem;
  padding-right: 4rem;
}

#root {
  min-height: 100vh;
}

button,
input,
textarea,
select {
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
